  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)

// ******************************************************

// BASIC

html
  background-color: $color-white
  color: $color-black

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// ******************************************************

// HEADER

#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 900
  text-align: center

#logo
  width: 40%
  max-width: 200px

// ******************************************************

// LOADING
.hide
  opacity: 0

#loading-screen
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: $color-black
  z-index: 800
  animation-fill-mode: forwards
  pointer-events: none
  transition: opacity 1s ease-in-out

#loading-chair
  width: 50%
  height: 50%
  polygon.cls-1
    stroke-linecap:round
    stroke-linejoin:round
    stroke-dasharray: 1000
    animation: draw 4s linear infinite
    animation-fill-mode: forwards
  transition: opacity 1s ease-in-out

@keyframes draw
  from
    stroke-dashoffset: 2000
  to
    stroke-dashoffset: 0

// ******************************************************

// MAIN CONTENT
#main-content
  width: 100%
  height: 100vh

#images-container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  will-change: contents

.image-holder
  height: 100%
  width: 100%
  padding: 5%

  img
    max-height: 100%

// ******************************************************

// FOOTER

#info-button
  position: absolute
  cursor: pointer

#footer
  position: absolute
  top: 100%
  width: 100%
  background-color: $color-black
  color: $color-white

.think-of-item
  position: absolute
  opacity: 0
  &.show
    opacity: 1

// ******************************************************

// MEDIA QUERIES

$gutter = 14px

grid(96%, $gutter, s)

space-maker(false, false, false, $gutter)

$font-size-basic = 16px

font-sizes($font-size-basic)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 21px

  grid(680px, $gutter, m)

  space-maker(false, false, false, $gutter)

  $font-size-basic = 21px

  font-sizes($font-size-basic)

  .mobile-only
    display: none !important

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 24px

  grid(1000px, $gutter, l)

  space-maker(false, false, false, $gutter)

  $font-size-basic = 28px

  font-sizes($font-size-basic)

  .desktop-only
    display: initial !important

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  grid(1200px)

@media screen and (min-width: 1366px)

  grid(1300px)

@media screen and (min-width: 1680px)

  grid(1600px)

@media screen and (min-width: 1920px)

  grid(1800px)
