// ******************************************************

// FOOTER

#info-button
  width: $gutter
  bottom: $gutter
  right: $gutter

.footer-item
  .grid-row
    .grid-item
      margin-bottom: $gutter
  &:last-child
    .grid-row
      .grid-item:last-child
        margin-bottom: 0

#think-of
  height: 42px
