.footer-item
  .grid-row
    height: 100%
    align-content: space-between
    .grid-item:not(:last-child)
      margin-bottom: $gutter
    .grid-item:last-child
      margin-bottom: 0

#think-of
  height: 84px
